.table-container{
    height: 75vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 10px;  
}

table{
    width: 100%;
    border: 2px solid black;
}
th{
    border: 2px solid black;
}

td{
    padding: 2px;

    border-style: solid;
    border-width: 0 0 2px 0 ;
}

tr:nth-child(odd){
    background-color: transparent;
}

tr:nth-child(even){
    background-color: #252323;
}