



<div class="flex h-full items-center justify-center  bg-amber-400 ">
    <div class="flex flex-col w-[80%] max-h-[80vh] overflow-y-scroll border-2 p-4">
        <div>
            <button class="border-2 p-2 cursor-pointer" (click)="goBack()">Back</button>
        </div>
        <div class="flex flex-col">
            <h1 class="font-bold">You can add new books to your library </h1>
            <form class="grid grid-cols-2  gap-2" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
                <div class="flex gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <input class="border-b-2 p-2" type="text" placeholder="title" formControlName="title">
                </div>
                <div class="flex gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <input class="border-b-2 p-2" type="text" placeholder="author" formControlName="author">
                </div>
                <div class="flex gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <input class="border-b-2 p-2" type="number" placeholder="length" formControlName="length">
                </div>
                <div class="flex gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <select name="status" id="status" formControlName="status">
                        <option value="not-started">not started</option>
                        <option value="started">started</option>
                        <option value="finished">finished</option>    
                    </select>
                </div>
                <div class="flex gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <select name="language" id="language" formControlName="language">
                        <option value="tr">tr</option>
                        <option value="en">en</option>
                    </select>
                </div>
                <div class="flex col-span-2 gap-2 items-center">
                    <label for="">Book Form will be here</label>
                    <input class="border-b-2 p-2" type="file" placeholder="mainImage" (change)="imageSelected($event)" formControlName="mainImage">
                </div>
                <button type="submit">Submit</button>
            </form>
    
        </div>
    </div>
    
</div>
