

<div class="flex flex-col h-full border-2">
    <div class="flex flex-row justify-between m-2">
        <h1>Recent Blog posts</h1>
        <a href="">
            <h1 class="hover:text-amber-200">View More</h1>
        </a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2  xl:grid-cols-4 justify-center items-center p-4 gap-10 h-full">
        @for(blog of blogPosts;track blog; let index = $index){
            <div class=" border-2">
                <div class="flex justify-center h-full">
                    <a href="" class="h-full">
                        <img class="h-full object-contain" src="{{blog?.mainImage}}" alt="">
                    </a>
                </div>
            </div>
        }
    </div>
</div>