<nav class=" bg-amber-700 w-full h-[8%]">
    <div class="flex flex-row h-full justify-between">
        <div class="h-full w-[50%] bg-amber-300" >
            <ul class="flex h-full items-center gap-2 mx-4">
                <li class="bg-white cursor-pointer" routerLink="">Home</li>
                <li>About</li>
                <li>Previews</li>
                <li>blog</li>
            </ul>
        </div>
        <div class="h-full">
            <div class=" flex h-full items-center gap-2 mx-4">
                <div class="flex items-center border-2 p-2 cursor-pointer" routerLink="" >
                    <h2>Login</h2>
                </div>
                <div class="flex items-center border-2 p-2 cursor-pointer" routerLink="">
                    <a href="">Sign In</a>
                </div>
                <i class="fa-solid fa-user" hidden></i>
            </div>
        </div>
    </div>
</nav>
