
<div class="flex flex-col h-[35vh] border-2">
    <div class="flex flex-row justify-between m-2">
        <h1>Recent Blog posts</h1>
        <h1>View More</h1>
    </div>
    <div class="flex flex-row p-2 gap-2 h-full">
        @for(blog of newBlogs;track blog.id; let index = $index){
            <div class="border-2 w-[25%]">
                <app-blog-post-card [blogPost]="blog">
        
                </app-blog-post-card>
            </div>
        }
    </div>
</div>

<app-books-carousel [currentSeasonBooks]="currentSeasonBooks"></app-books-carousel>
